.loginform {
    width: 500px;
    padding: 5px;
}

.loginform__text {
    text-align: center;
    color: #fff;
    margin: 0 0 1rem 0;
    font-size: 17px;
}


input::placeholder {
    padding-left: 30px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    -webkit-text-fill-color: #fff;
}

.loginform input {
    text-indent: 45px;
    font-size: 20px;
    color: #fff;
    min-height: 55px;

}

.loginform__text h1 {
    font-size: 40px;
    font-weight: 600;
}

.loginform__text h3 {
    font-size: 24px;
    font-weight: 300;
}

.emailinput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
}

.emaildiv {
    position: relative;
    margin: 0 0 1.5rem 0;
}

.fauser {
    position: absolute;
    background: transparent;
    left: 5%;
    top: 28%;
    font-size: 30px;
}

.passwordiv {
    position: relative;
}

.falock {
    position: absolute;
    left: 5%;
    font-size: 30px;
    top: 12%;
}

.passwordinput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: transparent;
}

.loginbutton {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 25px;
    background: transparent;
    color: #090909;
    border: 1px solid #fff;
    margin: 0 0 0 0;
    min-height: 50px;
    padding: 5px;
}

.loginbutton:hover {
    background: #817e7e;
    color: #fff;
    font-size: 35px;
}

.linkdiv {
    display: flex;
    justify-content: flex-end;
    margin: -13px 0 1rem 0;
    padding: 4px;
    font-size: 13px;
}

.linkdiv p:hover {
    color: lightblue;
}


@media screen and (max-width: 550px) {
    .loginform {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .loginform {
        width: 350px;
    }
    .loginform input {
        min-height: 48px;
    }
    .loginbutton {
        min-height: 45px;
    }
    .loginform__text h1 {
        font-size: 35px;
    }
    .loginform__text h3 {
        font-size: 15px;
    }
}