.resetform {
    width: 500px;
    padding: 5px;
}

.resetform input {
    min-height: 55px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 20px;
}

.resetform__text{
    text-align: center;
    color: #fff;
    width: 100%;
}

.resetform h5 {
    font-size: 20px;
    font-weight: 400;
}

.resetform h1 {
    font-size: 40px;
    font-weight: 600;
}


.emailinput {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 1rem 0 1rem 0;
}

.passwordinput {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 0 1rem 0;
}

.confirmnewpasswordinput {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 0 2rem 0;
}

.resetbtn {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    background: transparent;
    color: #060606;
    font-size: 25px;
    min-height: 50px;
    padding: 5px;
}

.resetbtn:hover {
    color: #fff;
    font-size: 35px;
    background: #858080;
}

.resetformdiv1 {
    position: relative;
}

.resetformdiv2 {
    position: relative;
}

.resetformdiv3 {
    position: relative;
}

.fause {
    position: absolute;
    left: 5%;
    bottom: 18%;
    font-size: 30px;
}

.faloc {
    position: absolute;
    left: 5%;
    bottom: 40%;
    font-size: 30px;
}

.faloc1 {
    position: absolute;
    left: 5%;
    bottom: 50%;
    font-size: 30px;
}

@media screen and (max-width: 550px) {
    .resetform__text h1 {
        font-size: 35px;
    }
    .resetform__text h5 {
        font-size: 17px;
    }
    .resetform {
        width: 400px;
    }
    .resetform input {
        min-height: 50px;
    }
    .resetbtn {
        min-height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .resetform__text h1 {
        font-size: 32px;
    }
    .resetform__text h5 {
        font-size: 15px;
    }
    .resetform {
        width: 360px;
    }
    .resetform input {
        min-height: 48px;
    }
    .resetbtn {
        min-height: 40px;
    }
}