.main__dashdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    overflow-y: scroll;
}

.dash {
    padding: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.dash h1 {
    color: #8e8585;
    font-size: 50px;
    font-weight: 600;
}

.main__dashdiv-content {
    height: 100%;
    width: 100%;
}

