.main__dashdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash {
    padding: .5rem;
    width: 100%;
    height: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.textdiv2 h1 {
    color: #8e8585;
    font-size: 50px;
    font-weight: 600;
}

.imagesdiv {
    width: 100%;
    height: 100%;
}
.imagesdiv img {
    width: 100%;
    height: 100%;
}
.main__dashdiv-content {
    height: 70vh;
    width: 100%;
}


.singleimage img {
    width: 100%;
    height: 100%;
}

.image1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
