* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-family);
    background-image: linear-gradient(to right top, #10110f, #141614, #181a18, #1b1e1c, #1e2221, #1f2322, #1f2323, #202424, #1e2121, #1c1f1f, #1a1c1c, #181a1a);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .appdiv {
    height: 100vh;
  }