.forms {
    width: 500px;
    padding: 5px;
}

.forms div {
    margin: 1rem 0 2rem 0;
}

.forms__text {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 0 2rem 0;
    font-size: 20px;
}

.forms__text h3 {
    font-weight: 300;
    font-size: 20px;
}

.forms__text h1 {
    font-size: 40px;
    font-weight: 600;
}

.forms input {
    min-height: 55px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 20px;
}

input {
    text-indent: 45px;
}

.userinputs {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.emailinput {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.passwordinput {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.confirmpasswordinput {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.loginbtn {
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: black;
    background: transparent;
    font-size: 25px;
}

.loginbtn:hover {
    color: #fff;
    background: #706d6d;
    font-size: 35px;
}

.user1div {
    position: relative;
}

.user1 {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 25px;
}

.user2div {
    position: relative;
}

.user2 {
    position: absolute;
    left: 5%;
    font-size: 25px;
    top: 30%;
}

.lock1div {
    position: relative;
}

.lock1 {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 25px;
}

.lock2div {
    position: relative;
}

.lock2 {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 25px;
}

@media screen and (max-width: 550px) {
    .forms {
        width: 400px;
    }
    .forms__text h1 {
        font-size: 30px;
    }

    .forms__text h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .forms {
        width: 365px;
    }
    .forms input {
        min-height: 50px;
    }
    .forms div {
        margin: .6rem 0 1.4rem 0;
    }
    .forms__text {
        font-size: 12px;
    }
    .loginbtn {
        min-height: 45px;
    }
}
